article, aside, details, figcaption, figure, footer, header, nav, section { display: block; }

html { font-size: 75%; }
html, input, textarea { font-family: monospace; color: #222; background: transparent; }

body { margin: 0; padding: 10px; }
input, textarea, body, button { font: 400 100%/1.6em monospace; }

dd, dt { margin: 0; }
li { margin: 5px 0; }

textarea { border: 1px solid #222; padding: 1em; }

.main { max-width: 130em; margin: 0 auto; }
.welcome,
.latest-diffs { float: left; width: 48%; }
.welcome { margin-right: 4%; }
textarea[name=diff] { width: 100%; }

dd.error { font-weight: bold; color: #960000; }
code { background-color: #f4f4f4; padding: 1px; border-radius: 1px; }
a { color: #006396; text-decoration: none; }

.file { width: 100%; clear: both; padding-top: 2em; }
.file h2 { overflow: hidden; margin-top: 0; margin-bottom: 0; }
.file .original,
.file .changed { width: 48%; float: left; }
.file .original { margin-right: 4%; }

.file .chunk { clear: both; display: flex; margin-top: 3em; }
.file .chunk > .original,
.file .chunk > .changed { flex: 1; overflow-x: auto; }

.file.added .original,
.file.removed .changed { visibility: hidden; }

.line { clear: both; }
.line p { margin: 0; }

.line .content { white-space: pre; float: left; width: 92%; }
.line .content.removed { color: #960000; }
.line .content.added { color: #209600; }

.line .comments { color: #aaa; clear: both; }
.line .comments:empty { display: none; }
.line .comments .comment { margin-left: 10%; white-space: pre; margin-bottom: .5em; padding-bottom: .5em; border-bottom: 1px solid #eee; }

.line form { float: left; width: 6%; padding-right: 2%; }
.line label { cursor: pointer; color: #aaa; text-align: right; display: block; float: left; width: 100%; }
.line label:hover { color: #222; }
.line input[type=checkbox] { display: none; }
.line textarea,
.line button { display: none; margin-left: 160%; }
.line textarea { width: 1433%; height: 100px; margin-bottom: 1em; }
.line form > input:checked ~ textarea,
.line form > input:checked ~ button { display: block; }
