@import models.diff.Diff
@(diff: Diff, diffString: String)(implicit messages: Messages)

@main("Your diff") {
    <p><a href="/">Home</a></p>
    <section class="diff">
        @for(file <- diff.files) {
            <div class="file @if(file.isAdded){added} @if(file.isRemoved){removed}">
                <h2 class="original" id="original-@file.oldFile.name">@file.oldFile.name <a href="#original-@file.oldFile.name">(link)</a></h2>
                @if(file.hasChangedName) {
                    <h2 class="changed" id="changed-@file.newFile.name">@file.newFile.name <a href="#changed-@file.newFile.name">(link)</a></h2>
                }
                @for(chunk <- file.changeChunks) {
                    <div class="chunk">
                        <div class="original">
                            <div class="line-numbers">
                                @for(lineNo <- 0 until chunk.rangeInformation.oldLength) {
                                    <p class="line-number">@(lineNo+chunk.rangeInformation.oldOffset)</p>
                                }
                            </div>
                            <div class="lines">
                                @for(line <- chunk.changeLines if !line.isAdded) {
                                    <p class="line @if(line.isRemoved){removed}">@if(line.line == ""){&nbsp;}else{@line.line}</p>
                                }
                            </div>
                        </div>
                        <div class="changed">
                            <div class="line-numbers">
                                @for(lineNo <- 0 until chunk.rangeInformation.newLength) {
                                    <p class="line-number">@(lineNo+chunk.rangeInformation.newOffset)</p>
                                }
                            </div>
                            <div class="lines">
                                @for(line <- chunk.changeLines if !line.isRemoved) {
                                    <p class="line @if(line.isAdded){added}">@if(line.line == ""){&nbsp;}else{@line.line}</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </section>

    <section class="stats">
        <h2>Stats</h2>
        <ul>
            @defining(diff.files.flatMap(_.changeChunks.flatMap(_.changeLines))) { lines =>
                <li>@lines.count(_.isAdded) lines added</li>
                <li>@lines.count(_.isRemoved) lines removed</li>
            }
            <li>@diff.files.count(_.isAdded) files added</li>
            <li>@diff.files.count(_.isRemoved) files removed</li>
        </ul>
    </section>

    <section class="raw">
        <h2>Raw diff</h2>
        <pre>@diffString</pre>
    </section>
}
