@import models.diff.form.DiffFields
@(form: Form[DiffFields])(implicit messages: Messages)

@main("Welcome to Open Diff") {

    <h1>Welcome to Open Diff</h1>

    <p>Open Diff is a tool that allows you to paste a unified diff (eg. from git, mercurial or the <code>diff</code> command line utility) and get a nicely rendered view of it with code highlighting, and a URL for you to share.</p>
    <p>In addition to simply being a place to store your diffs, people can view and comment on your diff freely, giving you a place to have open discussions about ways of doing things with strangers.</p>
    <p>To get started you can submit a diff below or preferably submit them via curl which will keep formatting better than copying and pasting. Alternatively you can review other people's diffs in the side menu.</p>
    <h2>Use from the command line to get a URL:</h2>
    <ul>
        <li>git: <code>curl -o /dev/null -s --data-urlencode "diff=$(git diff)" -w "%{redirect_url}\n" localhost:9000/d</code></li>
        <li>mercurial: <code>curl -o /dev/null -s --data-urlencode "diff=$(hg diff)" -w "%{redirect_url}\n" localhost:9000/d</code></li>
        <li>diff: <code>curl -o /dev/null -s --data-urlencode "diff=$(diff -u <em>$FILE1 $FILE2</em>)" -w "%{redirect_url}\n" localhost:9000/d</code></li>
    </ul>
    <p>If the above isn't giving you back a URL then it's most likely because your diff is empty or you've hit one of the abuse limits outlined below. Try sending the diff through the below form instead:</p>

    @helper.form(action = routes.DiffController.create()) {
        @helper.textarea(form("diff"), '_label -> "Paste your diff here", 'cols -> 120, 'rows -> 20, '_showConstraints -> false)
        <button type="submit">Submit</button>
    }

    <h2>Abuse</h2>
    <p>In order to prevent abuse the following limitations are in place:</p>
    <ul>
        <li>The diff can't be larger than 100kb</li>
        <li>You can't submit more than 100 diffs in a single day from a single IP address</li>
        <li>Diffs are hosted ephemerally and will be deleted after 90 days</li>
    </ul>
    <p>This allows me to host the service at only a modest cost to myself</p>
}
